@page "/adminhome"
@using static BankMaui.Components.Layout.MainLayout
@inject NavigationManager Navigation
@inject IJSRuntime JS
<h3>Admin_Home</h3>
<br />
<button type="button" @onclick="Logout">Logout</button>
<script>
    function showAlert(message) {
        alert(message);
    }
</script>

@code {


}

