@page "/"
@using static BankMaui.Components.Layout.MainLayout
@inject IJSRuntime JS
@inject NavigationManager Navigation

<h3>Login</h3>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Enter username.</label>
        <input type="text" class="form-control" id="exampleInputEmail1" @bind="username">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Enter Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" @bind="password">
    </div>

    <select class="form-select" aria-label="Default select example" @bind="currencyType">
        <option selected>Select the currency type.</option>
        <option value="NRS">NRS</option>
        <option value="USD">USD</option>
        <option value="BGP">BGP</option>
        <option value="INRS">INRS</option>
    </select>
    <br />
    <button type="button" class="btn btn-primary" @onclick="LoginUser">Login</button>
</form>

<NavLink class="nav-link" href="signinpage" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Go to register page.
</NavLink>

<script>
    function showAlert(message) 
    {
        alert(message); 
    }
</script>


